body{
    background-color: ;
    margin: 0;
    font-family: "Helvetica ","Arial","sans-serif";
    font-weight: 400;
    color: rgb(0, 0, 0,  87%);
}
*{
box-sizing: border-box;
}

a{
    color: black;

}

header
{
    height: 101px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    position: relative;
    z-index: 10;
}

.header-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.logo{
    height: 81px;
    width: 81px;
}
.logo img {
    height: 100%;
}

.left-nav{
    display: flex;
    height: 100%;
    align-items: center;
}

.left-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    display: flex;
}

.left-nav nav ul li {
    text-transform: uppercase;
    padding-left: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    /* font-family: 'Lobster', cursive;    */
}
.left-nav nav ul li:hover{
color: #008248;
}

.right-nav{
    display: flex;
    align-items: center;
}
.find-store{
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.find-store i {
    padding-right: 8px;
    font-size: 24px;

}
.find-store:hover{
    color: rgb(0 130 72);
    cursor: pointer;
}
.sign-in, .join-now {
    padding: 7px 16px;
    
    border: 1px solid;
    border-radius: 50px;
    font-weight: 600;
    line-height:1.2 ;
}
.sign-in{
    margin-right: 16px;
    cursor: pointer;
}
.sign-in:hover{
    background-color: rgb(0,0,0,.06);
    transition: all .2s ease;
}
.join-now{
    background-color: black;
    color: wheat;
    cursor: pointer;
}
.join-now:hover{
    background-color: rgb(0 0 0 / 70%);
    border-color: rgb(0 0 0 / 70%);
    transition: all .2s ease;
}